.response-window {
    width: 700px;
    height: 500px;
    background-color: #63637c;
    border-radius: 25px;
    border: 2px solid #d6d6d6;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 20px;
}

.response-content {
    white-space: pre-line;
    padding: 25px;
    width: 100%;
    color: #98b02e;
}